* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
header {
  width: 100%;
  height: 80px;
  background-color: #003;
}

.header {
  line-height: 80px;
  width: 1050px;
  color: white;
  margin: 0 auto;
  font-size: 36px;
  font-weight: bold;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
}

.category {
  font-size: 18px;
  padding: 40px 0 0 0;
  display: flex;
  height: 80px;
  padding: 10px 0;
  user-select: none;
}

select {
  top: 100px;
  font-size: 24px;
  height: 30px;
  color: #004;
  font-size: inherit;
  background-color: white;
  border-radius: 4px;
  border: 2px solid white;
  padding: 0 5px;
  margin: 0 20xp;
}

#category {
  margin: 25px 10px 0 ;
  width: 270px;
}

#repeat {
  margin: 25px 0 0 10px;
  width: 2.5em;

} 
.main {
  width: 1000px;
  min-height: calc(100vh - 80px);
  margin: 0 auto;
  padding: 30px 30px;
  background-color: #f3f3ff;
}

.after-typing, .typing {
  background-color: white;
  width: 700px;
  padding: 10px 20px;
  margin: 0 auto 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  user-select: none;
}

.typing {
  width: 800px;
  font-size: 1.5em;
  position: relative;
}

.after-original {
  font-weight: bold;
  font-size: 1.5em;
}
.original {
  font-weight: bold;
  font-size: 1.5em;
}

#repeat-count {
  color:white;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  line-height: 80px;
  position: absolute;
  left: -90px;
  top: 15px;
  bottom: 0;
  height: 80px;
  width: 80px;
  background-color: #004;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
}

input {
  display: block;
  font-size: 2em;
  padding: 10px;
  border: none;
  width: 800px;
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.icon {
  height: 60px;
  width: auto;
  border-radius: 50%;
  transform: translateY(10px);
  transition: all 1000s;
}

.icon:hover{
  opacity: 0.9;
  transform: scale(100);
  z-index: 100;
}

.score {
  background-color: #Fad;
  color: white;
  display: block;
  font-size: 2em;
  padding: 10px 20px;
  width: 800px;
  height: 80px;
  border-radius: 10px;
  border: none;
  margin: 30px auto 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  user-select: none;
}

#message {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  width: 400px;
  height: 100px;
  line-height: 100px;
  background-color: #F55;
  border-radius: 50px;
  position: absolute;
  top: -10px;
  left: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
}

.score-str {
  position: absolute;
}

#score-text {
  font-weight: bold;
  font-size: 1.5em;
}

.books {
  margin: 50px auto 0;
  width: 800px;
  display: flex;
  justify-content: space-between;
}
.book {
  height: auto;
  width: 220px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 1000s;
}

.book:hover{
  opacity: 0.9;
  transform: scale(100);
  z-index: 10;
}

.mask {
  width: auto;
  height: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

.mask.show {
  display: block;
  transition: all 1s;
}

.modal {
  background-color: white;
  height: 600px;
  width: 600px;
  top: 100px;
  top: -2000px;
  left: calc( (100vw / 2) - 300px );
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
}

.modal.show {
  top: 100px;
  transition: all 2s;
}

.modal-title {
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 54px;
  text-align: center;
}

.modal-sps,
.modal-score,
.modal-ranking {
  margin-top: 24px;
  font-size: 24px;
  text-align: center;
}
.modal-sps span,
.modal-score span,
.modal-ranking span {
  font-size: 64px;
  font-weight: bold;
}

.tweet {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 450px;
  height: 80px;
  line-height: 80px;
  background-color: #00e;
  border-radius: 5px;
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-align: center;
}


.score-form {
  display: none;
}


/* edit画面 */

.main.new {
  width: 1200px;
}

.category-title,
.new-title,
.edit-title {
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  padding: 5px 10px;
  background-color: #fad;
  border-radius: 4px;
}

.category-new-form,
.category-edit-form {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.category-new-input,
.category-new-input-order,
.category-edit-input,
.category-edit-input-order {
  width: 1200px;
  font-size: 16px;
  margin: 5px;
  border-radius: 4px;
  padding: 5px;
  box-shadow: unset;
  border: 1px solid #aaf;
  height: 35px;
}

.category-new-input-order,
.category-edit-input-order {
  width: 70px;
}
.category-edit-form {
  width: 1040px;
}
.category-destroy-form {
  width: 120px;
  padding-left: 0;
  display: flex;
  padding: 5px 30px 5px 0;
}

.category-edit-forms {
  width: 1140px;
  display: flex;
}

.edit-title {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.display-btn {
  color: white;
  font-size: 16px;
  font-weight: unset;
  border-radius: 4px;
  background-color:red;
  padding: 5px 10px;

}

.display-btn:hover {
  opacity: 0.8;
}

.new-form,
.edit-form {
  width: 100%;
  padding: 10px 5px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: all 0.2s;
}

.del-form {
  display: flex;
}

.edit-form:not(:last-child) {
  border-bottom: 3px solid #bbd;
}
.edit-form.hide {
  border-bottom: none;
  overflow:hidden;
  height: 40px;
  transition: all 0.2s;
}

.input {
  display: flex;
}

.new-original, 
.new-hiragana,
.edit-original,
.edit-hiragana {
  width: 800px;
  font-size: 16px;
  margin: 0 5px;
  border-radius: 4px;
  padding: 5px;
  box-shadow: unset;
  border: 1px solid #aaf;
}

.category-new-btn,
.category-edit-btn,
.category-destroy-btn,
.new-btn,
.edit-btn,
.del-btn {
  width: 100px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin: 5px;
  border-radius: 4px;
  padding: 5px;
  box-shadow: unset;
  background-color: red;
}

.category-new-btn,
.category-edit-btn,
.category-destroy-btn{
  height: 35px;
}


.category-new-btn:hover,
.category-edit-btn:hover,
.category-destroy-btn:hover,
.new-btn:hover,
.edit-btn:hover,
.del-btn:hover {
  opacity: 0.8;
}

.edit-btn,
.del-btn {
  width: 60px;
}

.category-destroy-btn,
.del-btn {
  background-color: black;
  text-align: center;
}

.category-edit-btn {
  margin-right: 0;
}

.del-text {
  margin: auto;
}

.btns {
  display: flex;
  justify-content: space-between;
}
.checks {
  user-select: none;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #aaf;
  margin: 5px 0 5px 5px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
}

.check {
  display: none;
}

label {
  background-color: #acf;
  border-radius: 4px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  transition: all 0.2s;
}

input[type="checkbox"]:checked + label{
  background-color: #37f;
}